@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">The Flavour Frenzy Range</h1>    
</div>
<div class="text-center"><h2>Bites</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="Photos/BB.jpg" />
                <h1>Brocolli Bites</h1>
                <p>In stock</p>
                
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="Photos/CB.jpg" />
                <h1>Chicken Bites</h1>
                <p>Low Stock</p>                
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="Photos/CheeseB.jpg" />
                <h1>Cheese Bites</h1>
                <p>In Stock</p>                
            </article>
        </div>
    </div>
</div>
<div class="text-center"><h2>Patties</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="Photos/QPP.jpg" />
                <h1>Quarter Pound Patty</h1>
                <p>In stock</p>

            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="Photos/SSCP.jpg" />
                <h1>Sothern Style Chicken Patty</h1>
                <p>Out of Stock</p>
            </article>
        </div>        
    </div>
</div>
<div class="text-center"><h2>Toppas</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="Photos/BNCT.png" />
                <h1>Bacon and Cheese Toppa</h1>
                <p>In stock</p>
                
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="Photos/CCBT.jpg" />
                <h1>Chicken Cordon Bleu</h1>
                <p>Low Stock</p>                
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="Photos/LT.jpg" />
                <h1>Lasagne Toppa</h1>
                <p>In Stock</p>                
            </article>
        </div>
    </div>
</div>
