@{
    ViewData["Title"] = "Range Page";
}
<head>
    <style>        
        article img {
            width: 15rem;
            height: 10rem;
            border-bottom: 2px solid black;
            object-fit: cover;  
            position:relative;
        }      
          
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">The Flavour Frenzy Range</h1>    
</div>
<div class="text-center"><h2>Bites</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="https://g4t5m8n4.rocketcdn.me/wp-content/uploads/2021/01/broccoli-bite-with-bite.jpg" alt="Broccoli Bites">
                <h2>Broccoli Bites</h2>
                <p>In stock</p>

            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="https://sallysbakingaddiction.com/wp-content/uploads/2014/08/Super-crunchy-Pretzel-Crusted-Chicken-Bites-on-sallysbakingaddiction.com_.-These-are-SO-easy-and-delicious_-2.jpg" alt=" Chicken Bites">
                <h2>Chicken Bites</h2>
                <p>Low Stock</p>
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="https://dancingthroughtherain.com/wp-content/uploads/2020/02/Easy-Fried-Cheese-Bites81-720x720.jpg" alt="Cheese Bites" >
                <h2>Cheese Bites</h2>
                <p>In Stock</p>
            </article>
        </div>
    </div>
</div>
<div class="text-center"><h2>Patties</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="https://jahzkitchen.com/wp-content/uploads/2022/05/Quarter-Pound-Frozen-Patties-1024x768.jpg" alt="Quarter Pound Patty">
                <h2>Quarter Pound Patty</h2>
                <p>In stock</p>

            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="http://schoolnightvegan.com/wp-content/uploads/2022/10/vegan-fried-chicken-10.jpg" alt="Sothern Style Chicken Patty">
                <h2>Sothern Style Chicken Patty</h2>
                <p>Out of Stock</p>
            </article>
        </div>
    </div>
</div>
<div class="text-center"><h2>Toppas</h2></div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <article>
                <img src="https://images.squarespace-cdn.com/content/v1/5e8d332e1b8f0c5457e72264/1589243083047-XWP48RZCPNNN3Z6MO78O/bacon+n+cheese.png" alt="Bacon and Cheese Toppa">
                <h2>Bacon and Cheese Toppa</h2>
                <p>In stock</p>

            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="https://amandascookin.com/wp-content/uploads/2022/04/Chicken-Cordon-Bleu-RC-SQ-500x500.jpg" alt="Chicken Cordon Bleu">
                <h2>Chicken Cordon Bleu</h2>
                <p>Low Stock</p>
            </article>
        </div>
        <div class="col-sm">
            <article>
                <img src="https://images.squarespace-cdn.com/content/v1/5e8d332e1b8f0c5457e72264/1589243580001-8DFPPVFY5W1G0QM34BML/lasagne.png" alt="Lasagne Toppa">
                <h2>Lasagne Toppa</h2>
                <p>In Stock</p>
            </article>
        </div>
    </div>
</div>
